h1 {
  font-family: "Roboto", sans-serif;
  font-size: 72px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  color: #007765;
  font-family: sans-serif;
  text-align: center;
  font-size: 64px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  margin: 0 55px;
}

body {
  width: 1219px;
  padding: 0 55px;
  margin: 0 auto;
}

.container {
  background: #eeeeee;
}

.header {
  position: fixed;
  background: #007765;
  width: 1219px;
  display: inline-block;
}

.logo {
  width: 184px;
  height: 45px;
  margin: 20px 0 30px 55px;
  box-sizing: border-box;
}

.nav {
  float: right;
  padding-bottom: 40px;
}

.nav > a,
.nav > span {
  color: #ffffff;
  text-decoration: none;
  font-size: 24px;
}

.mainImg {
  background: url("image_2.png");
  background-size: cover;
  height: 403px;
  display: flex;
  justify-content: center;
}

.second {
  background: url("image.png");
  background-size: cover;
  height: 483px;
  margin-top: 90px;
  display: flex;
  justify-content: center;
}

.second > p {
  color: #ffffff;
  font-size: 48px;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 0 163px;
}

.intro {
    background: #ffffff;
    
}

.footer {
  background: #333333;
  
}

.footer > p {
  margin: 0 auto;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  padding: 48px 339px 64px 340px;
}
