h1 {
    font-family: sans-serif;
    font-size: 72px;
    color: #ffffff;
    margin: 0 auto;
    z-index: 1000;
}

h2 {
    color: #007765;
    font-family: sans-serif;
    text-align: center;
    font-size: 64px;
}

body {
    width: 1219px;
    padding: 0 55px;
    margin: 0 auto;
}

.container {
    overflow:hidden;
}

.header {
    position: fixed;
    background: #007765;
    width: 1219px;
    display: inline-block;    
    
}

.logo {
    width: 184px;
    height: 45px;
    margin: 20px 0 30px 55px;
    box-sizing: border-box;
}

.nav {
    float: right;
    padding-bottom: 40px;
    
}

.nav > a, .nav > span  {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
}




.mainImg {
    background: url("image_2.png") no-repeat;
    background-size: cover;
    height: 403px;
}

.second {
    background: url("image.png") no-repeat;
    background-size: cover;
    height: 403px;
}